*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.heading{
    text-align: center;
    margin: 5px;
}
.Box{
    margin: 2px 40px;
}
.card-body{
    width: 100%;
}
.check{
    color: rgb(28, 28, 255) !important;
    opacity: 0.5;
}